<header id="page-topbar" data-scroll-header (window:scroll)="windowScroll()">
    <div class="layout-width">
      <div class="navbar-header">
        <div class="d-flex">
          <!-- LOGO -->
          <app-base-common-components-topbar-languagelogo></app-base-common-components-topbar-languagelogo>

          <app-base-common-components-topbar-languagemenuhide (mobileMenuButtonClicked)="onMobileMenuButtonClicked()"></app-base-common-components-topbar-languagemenuhide>
        </div>
        <div class="d-flex align-items-center">

          <!-- Search icon - navigates to search page -->
          <app-base-common-components-topbar-languagesearch></app-base-common-components-topbar-languagesearch>

          <app-base-common-components-topbar-languagelanguage></app-base-common-components-topbar-languagelanguage>

          <app-base-common-components-topbar-languagefullscreen></app-base-common-components-topbar-languagefullscreen>

          <app-base-common-components-topbar-languagehue></app-base-common-components-topbar-languagehue>

          <app-base-common-components-topbar-languageshopping></app-base-common-components-topbar-languageshopping>

          <app-base-common-components-topbar-languagenotifications></app-base-common-components-topbar-languagenotifications>

          <!-- Trash icon - shows deleted items -->
          <app-base-common-components-topbar-trash></app-base-common-components-topbar-trash>

          <!-- Help icon - appears before settings icon -->
          <app-base-common-components-topbar-help></app-base-common-components-topbar-help>

          <!-- Settings gear icon - appears before user icon -->
          <app-base-common-components-topbar-settings></app-base-common-components-topbar-settings>

          <app-base-common-components-topbar-languageuser></app-base-common-components-topbar-languageuser>


        </div>
      </div>
    </div>
</header>

<!-- removeNotificationModal -->
<ng-template #removenotification let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                           [attr.aria-label]="'BASE.ACTIONS.CLOSE' | baseTranslate"
                    id="NotificationModalbtn-close"
                    (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                           trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px">

                </lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                  <h4>
                    {{ 'BASE.CONFIRMATIONS.SINGULAR' | baseTranslate}}
                  </h4>
                  <p class="text-muted mx-4 mb-0">
                    {{ 'BASE.CONFIRMATIONS.INSTRUCTIONS' | baseTranslate}}
                  </p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
              <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal"
                      (click)="modal.dismiss('Cross click')">
                {{ 'BASE.CORE.SHARED.ACTION.CLOSE' | baseTranslate}}
              </button>
              <button type="button" class="btn w-sm btn-danger" id="delete-notification">
                !!!!!<!--(click)="notificationDelete()"-->
                {{ 'BASE.CORE.SHARED.ACTION.DELETE' | baseTranslate}}
              </button>
            </div>
        </div>

    </div><!-- /.modal-content -->

</ng-template>
