<!-- Header and backtotop buttons both attach handlers of the same name to
     the browser scroll's event.
     Both have a specific Id so that the eventhandlers can talk to their
     respective elements:
-->
<nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar"
     (window:scroll)="onWindowScroll()">

  <div class="container">
    <!-- The first part of the nav bar is nothing special, just a logo, -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logos/logo-dark.png"
           class="card-logo card-logo-dark"
           alt="logo dark" height="17">
      <img src="assets/images/logos/logo-light.png"
           class="card-logo card-logo-light"
           alt="logo light"
           height="17">
    </a>
    <!-- followed by a graphic btn that invokes toggleMenu() to
         show or hide othe buttons to scroll to various sections
         of the single page -->
    <button class="navbar-toggler py-0 fs-20 text-body"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="onToggleMenu()">
      <i class="mdi mdi-menu"></i>
    </button>
    <!-- these are menu buttons that are shown or hidden by the above btn.
         based on the state of the 'sectionId' property the button
         render differently/highlighted.
    -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
        <li class="nav-item">
          <a class="nav-link active"
             [ngClass]="{'active':sectionId === sectionsInfo.intro.id}"
             [ngxScrollTo]="'#'+sectionsInfo.intro.id"
             href="javascript:void(0);">{{'BASE.HOMES.SINGULAR'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active':sectionId === sectionsInfo.capabilities.id}"
             [ngxScrollTo]="'#'+sectionsInfo.capabilities.id"
             href="javascript:void(0);">{{'BASE.CAPABILITIES.PLURAL'|translate}}</a>
        </li>
        <!--<li class="nav-item">
    <a class="nav-link"
       [ngClass]="{'active':sectionId === sectionsInfo.features.id}"
       [ngxScrollTo]="'#'+sectionsInfo.features.id"
       href="javascript:void(0);">{{'BASE.FEATURES.PLURAL'|translate}}</a>
  </li>-->
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active':sectionId === sectionsInfo.endorsements.id}"
             [ngxScrollTo]="'#'+sectionsInfo.endorsements.id"
             href="javascript:void(0);">{{'BASE.REVIEWS.PLURAL'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active':sectionId === sectionsInfo.faqs.id}"
             [ngxScrollTo]="'#'+sectionsInfo.faqs.id"
             href="javascript:void(0);">{{'BASE.FAQS.PLURAL'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active':sectionId === sectionsInfo.plans.id}"
             [ngxScrollTo]="'#'+sectionsInfo.plans.id"
             href="javascript:void(0);">{{'BASE.PLANS.PLURAL'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active':sectionId === sectionsInfo.team.id}"
             [ngxScrollTo]="'#'+sectionsInfo.team.id"
             href="javascript:void(0);">{{'BASE.TEAMS.SINGULAR'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active':sectionId === sectionsInfo.contact.id}"
             [ngxScrollTo]="'#'+sectionsInfo.contact.id"
             href="javascript:void(0);">{{'BASE.CONTACTS.SINGULAR'|translate}}</a>
        </li>
      </ul>

      <!-- It's unkind (and against the law in many jurisdictions) to have a website
        that has public pages that are not accessible / understandable. So we add
        the same common button here that permits setting the cookie
       even if they are not yet authenticated.
       Language should permit them to read the Terms before they sign up/in.-->
      <app-base-common-components-topbar-languagelanguage></app-base-common-components-topbar-languagelanguage>

      <!-- Setting the language permits being appraised of Terms before they accept
           as they sign up/in.-->
      <div class="">
        <a [routerLink]="system.navigation.auth.signin"
           class="btn btn-link fw-medium text-decoration-none text-body">
          {{'BASE.ACTIONS.SIGN_IN'|translate}}
        </a>
        <a [routerLink]="system.navigation.auth.signup"
           class="btn btn-primary">
          {{'BASE.ACTIONS.SIGN_UP'|translate}}
        </a>
      </div>

    </div>

  </div>
</nav>
<!-- end navbar -->
