<div class="navbar-brand-box horizontal-logo">
  <a (click)="goToAccountRoot()" class="logo logo-dark" style="cursor: pointer;">
    <span class="logo-sm">
      @if (logoSm$ | async; as logoSm) {
        <img [src]="logoSm" alt="" height="22">
      }
    </span>
    <span class="logo-lg">
      @if (logoDark$ | async; as logoDark) {
        <img [src]="logoDark" alt="" height="17">
      }
    </span>
  </a>

  <a (click)="goToAccountRoot()" class="logo logo-light" style="cursor: pointer;">
    <span class="logo-sm">
      @if (logoSm$ | async; as logoSm) {
        <img [src]="logoSm" alt="" height="22">
      }
    </span>
    <span class="logo-lg">
      @if (logoLight$ | async; as logoLight) {
        <img [src]="logoLight" alt="" height="17">
      }
    </span>
  </a>
</div>
