<div class="navbar-brand-box horizontal-logo">
  <a href="javascript:void(0);" class="logo logo-dark">
    <span class="logo-sm">
      <img *ngIf="logoSm$ | async as logoSm" [src]="logoSm" alt="" height="22">
    </span>
    <span class="logo-lg">
      <img *ngIf="logoDark$ | async as logoDark" [src]="logoDark" alt="" height="17">
    </span>
  </a>

  <a href="javascript:void(0);" class="logo logo-light">
    <span class="logo-sm">
      <img *ngIf="logoSm$ | async as logoSm" [src]="logoSm" alt="" height="22">
    </span>
    <span class="logo-lg">
      <img *ngIf="logoLight$ | async as logoLight" [src]="logoLight" alt="" height="17">
    </span>
  </a>
</div>
