<!--
  Footer shows things that are not key business functional needs.
  Metadata about sponsor organisation, etc.
  Examples to consider what to link to are:
  - Timely:
    - Specials
    - News and Media
  - Places/Stores & Service:
    - Stores/Schools/Dance Halls/whatever
    - Online shopping (here)
  - Customer Service:
    - Orders
    - Deliveries
    - Account
    - FAQs
    - Chatbot
    - Contact Us
  - Wholesale supply:
    - ...feels like it should get lumped with Customers?
  - Suppliers?
  - About:
    - Us/Sponsor
    - Beyond: Partners, Community/Environment
    - Careers
  - Social
    - Facebook, Pinterest, linkedin, instagram, youtube...
TODO:
 -->
<!-- [id]="sectionsInfo.footer.id" -->
<footer class="custom-footer bg-dark py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div>
          <div>
            <!-- ✅ MULTI-ACCOUNT: Use AccountService observable -->
            <img *ngIf="logo$ | async as logo" [src]="logo" alt="logo light" height="17">
          </div>
          <div class="mt-4 fs-13">
            <p>{{this.appsConfiguration.description.description}}</p>
            <p class="ff-secondary">{{this.appsConfiguration.description.purpose}}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-7 ms-lg-auto">
        <div class="row">
          <div class="col-sm-4 mt-4">
            <h5 class="text-white mb-0">Company</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a [routerLink]="nav.information.about">About Us</a></li>
                <li><a href="/pages/gallery">Gallery</a></li>
                <li><a href="/projects/overview">Projects</a></li>
                <li><a href="/pages/timeline">Timeline</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 mt-4">
            <h5 class="text-white mb-0">Apps Pages</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a [routerLink]="nav.landing.pricing">{{this.appsConfiguration.navigation.schedules}}</a></li>
                <li><a href="/{{this.appsConfiguration.navigation.messages}}">Mailbox</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="{{this.appsConfiguration.navigation.tasks}}">Tasks</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 mt-4">
            <h5 class="text-white mb-0">Support</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a [routerLink]="nav.support.faq">FAQs</a></li>
                <li><a [routerLink]="nav.support.contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row text-center text-sm-start align-items-center mt-5">
      <div class="col-sm-6">

        <div>
          <p class="copy-rights mb-0">
            {{this.appsConfiguration.copyrights.year}} © {{this.appsConfiguration.description.title || ''}} -
            {{'BASE.CREDITS.DEVELOPED_BY_' }} | baseTranslate
            {{this.appsConfiguration.context.developer.title || 'Undefined, Inc.'}}
          </p>
        </div>
      </div>
      <!-- SOCIAL: -->
      <div class="col-sm-6">
        <div class="text-sm-end mt-3 mt-sm-0">
          <ul class="list-inline mb-0 footer-social-link">
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-facebook-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-github-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-linkedin-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-google-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-dribbble-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
