<header id="page-topbar" data-scroll-header (window:scroll)="windowScroll()">
    <div class="layout-width">
      <div class="navbar-header">
        <div class="d-flex">
          <!-- LOGO -->
          <app-base-common-components-topbar-languagelogo></app-base-common-components-topbar-languagelogo>

          <app-base-common-components-topbar-languagemenuhide (mobileMenuButtonClicked)="onMobileMenuButtonClicked()"></app-base-common-components-topbar-languagemenuhide>
          <!-- App Search-->
          <app-base-common-components-topbar-languagesearch></app-base-common-components-topbar-languagesearch>

        </div>
        <div class="d-flex align-items-center">

          <div class="dropdown d-md-none topbar-head-dropdown header-item" ngbDropdown>
            <button type="button"
                    class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                    id="page-header-search-dropdown"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    ngbDropdownToggle>
              <i class="bx bx-search fs-22"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                 aria-labelledby="page-header-search-dropdown" ngbDropdownMenu>
              <form class="p-3">
                <div class="form-group m-0">
                  <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="{{ 'BASE.CORE.SHARED.ACTIONS.SEARCH_INSTRUCTIONS' | translate}}"
                           aria-label="Recipient's username">
                    <button class="btn btn-primary"
                            type="submit">
                      <i class="mdi mdi-magnify"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="dropdown d-md-none topbar-head-dropdown header-item" ngbDropdown>
            <button type="button"
                    class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                    id="page-header-search-dropdown"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    ngbDropdownToggle>
              <i class="bx bx-search fs-22"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown" ngbDropdownMenu>
              <form class="p-3">
                <div class="form-group m-0">
                  <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="{{ 'BASE.CORE.SHARED.ACTIONS.SEARCH_INSTRUCTIONS' | translate}}"
                           aria-label="Recipient's username">
                    <button class="btn btn-primary"
                            type="submit">
                      <i class="mdi mdi-magnify"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <app-base-common-components-topbar-languagelanguage></app-base-common-components-topbar-languagelanguage>




          <app-base-common-components-topbar-languagefullscreen></app-base-common-components-topbar-languagefullscreen>

          <app-base-common-components-topbar-languagehue></app-base-common-components-topbar-languagehue>

          <app-base-common-components-topbar-languageshopping></app-base-common-components-topbar-languageshopping>

          <app-base-common-components-topbar-languagenotifications></app-base-common-components-topbar-languagenotifications>

          <app-base-common-components-topbar-languageuser></app-base-common-components-topbar-languageuser>


        </div>
      </div>
    </div>
</header>

<!-- removeNotificationModal -->
<ng-template #removenotification let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    attr.aria-label="{{ 'BASE.ACTIONS.CLOSE' | translate}}"
                    id="NotificationModalbtn-close"
                    (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                           trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px">

                </lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                  <h4>
                    {{ 'BASE.CONFIRMATIONS.TITLE' | translate}}
                  </h4>
                  <p class="text-muted mx-4 mb-0">
                    {{ 'BASE.CONFIRMATIONS.INSTRUCTIONS' | translate}}
                  </p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
              <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal"
                      (click)="modal.dismiss('Cross click')">
                {{ 'BASE.CORE.SHARED.ACTION.CLOSE' | translate}}
              </button>
              <button type="button" class="btn w-sm btn-danger" id="delete-notification">
                !!!!!<!--(click)="notificationDelete()"-->
                {{ 'BASE.CORE.SHARED.ACTION.DELETE' | translate}}
              </button>
            </div>
        </div>

    </div><!-- /.modal-content -->

</ng-template>
