<!-- start counter -->
<section class="py-5 position-relative bg-light" [id]="sectionsInfo.counter.id">
    <div class="container">
      <div class="row text-center gy-4">

        <ng-container *ngIf="stats$ | async as stats">
          ------------------------------
          <ng-container *ngFor="let item of stats ; let i = index;">

            ++++++
            <div class="col-lg-3 col-6">
              <div>
                <h2 class="mb-2">
                <span [countUp]="item.value"
                      class="counter-value"
                      [options]="option"></span>+</h2>
                <div class="text-muted">{{item.title}}</div>
              </div>
            </div>
            <!-- end col -->
            </ng-container>
          </ng-container>
      </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end counter -->
