<!--<app-base-core-information-index-header></app-base-core-information-index-header>-->

<ul>

  <li><a routerLink="{{ this.appsConfiguration.navigation.pages.open.information.service.privacy}}" class="btn btn-primary">Privacy</a></li>
  <li><a routerLink="{{ this.appsConfiguration.navigation.pages.open.information.service.cookies}}" class="btn btn-primary">Cookies</a></li>
  <li><a routerLink="{{ this.appsConfiguration.navigation.pages.open.information.service.contact}}" class="btn btn-primary">Contact</a></li>
  <li><a routerLink="{{ this.appsConfiguration.navigation.pages.open.information.service.corrections}}" class="btn btn-primary">Corrections</a></li>
  <li><a routerLink="{{ this.appsConfiguration.navigation.pages.open.information.service.support}}" class="btn btn-primary">Support</a></li>
  <li><a routerLink="{{ this.appsConfiguration.navigation.pages.open.information.service.terms}}" class="btn btn-primary">Terms</a></li>

</ul>


<app-base-common-components-footer-o></app-base-common-components-footer-o>
