<!-- start team -->
<section class="section bg-light" id="team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h3 class="mb-3 fw-semibold">
                        <span class="text-danger">{{'CUSTOM.SITE.TEAM.TITLE'|translate}}</span>
                    </h3>
                    <p class="text-muted mb-4 ff-secondary">{{'CUSTOM.SITE.TEAM.DESCRIPTION'|translate}}</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
          <ng-container *ngIf="team$ | async as team">
            @for (data of team; track $index) {
            <div class="col-lg-3 col-sm-6">
              <div class="card">
                <div class="card-body text-center p-4">
                  <div class="avatar-xl mx-auto mb-4 position-relative">
                    <img src="assets/images/users/{{data.imageName}}" alt="" class="img-fluid rounded-circle">
                    <a href="{{system.navigation.messages}}" class="btn btn-success btn-sm position-absolute bottom-0 end-0 rounded-circle avatar-xs">
                      <div class="avatar-title bg-transparent">
                        <i class="ri-mail-fill align-bottom"></i>
                      </div>
                    </a>
                  </div>
                  <!-- end card body -->
                  <h5 class="mb-1"><a href="{{system.navigation.settings.user}}" class="text-body">{{data.title}}</a></h5>
                  <p class="text-muted mb-0 ff-secondary">{{data.role}}</p>
                </div>
              </div>
              <!-- end card -->
            </div>}
            </ng-container>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-2">
                  <a href="{{system.navigation.teams.root}}"
                     class="btn btn-primary">
                    {{'BASE.ACTIONS.VIEW_ALL'|translate}} {{'BASE.MEMBERS.PLURAL' | translate }}
                    <i class="ri-arrow-right-line ms-1 align-bottom"></i>
                  </a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end team -->
