<!-- start faqs -->
<section class="section" [id]="sectionsInfo.faqs.id">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="text-center mb-5">
                <h3 class="mb-3 fw-semibold">
                  {{'CUSTOM.SITE.HOME.FAQS.TITLE'|translate}}
                </h3>
                <p class="text-muted mb-4 ff-secondary">
                  {{'CUSTOM.SITE.HOME.FAQS.DESCRIPTION'|translate}}
                </p>

                <!--
                  Hold till they go to the larger faq first:
    <div class="hstack gap-2 justify-content-center">
        <button type="button" class="btn btn-primary btn-label rounded-pill me-1">
      <i class="ri-mail-line label-icon align-middle rounded-pill fs-16 me-2"></i> Email
            Us</button>
        <button type="button" class="btn btn-info btn-label rounded-pill"><i class="ri-twitter-line label-icon align-middle rounded-pill fs-16 me-2"></i> Send Us
            Tweet</button>
    </div>
  -->
              </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row g-lg-5 g-4">


            <div class="col-lg-6">
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0 me-1">
                        <i class="ri-question-line fs-24 align-middle text-success me-1"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="mb-0 fw-semibold">General Questions</h5>
                    </div>
                </div>


                <div class="custom-accordion-border">
                  <div ngbAccordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                    <ng-container *ngIf="faqs$ | async | matches :'categoryId':'00000000-0000-0000-0000-000000000001' as faqs">
                      <ng-container *ngFor="let faq of faqs.slice(0,5);let i=index">


                        <div ngbAccordionItem [id]="'static-'+i">

                            <h2 ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                              <button ngbAccordionButton>{{faq.title}}</button>
                            </h2>
                            <div ngbAccordionCollapse>
                              <div ngbAccordionBody>
                                <ng-template>
                                  <div class="accordion-body ff-secondary">
                                    {{faq.description}}
                                  </div>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                  </div>
                </div>

            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="d-flex align-items-center mb-2">
                <div class="flex-shrink-0 me-1">
                  <i class="ri-shield-keyhole-line fs-24 align-middle text-success me-1"></i>
                </div>
                <div class="flex-grow-1">
                  <h5 class="mb-0 fw-semibold">Privacy &amp; Security</h5>
                </div>
              </div>

              <div class="custom-accordion-border">
                <div ngbAccordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                  <ng-container *ngIf="faqs$ | async | matches :'categoryId':'00000000-0000-0000-0000-000000000002' as faqs">
                    <ng-container *ngFor="let faq of faqs.slice(0,5);let i=index">


                      <div ngbAccordionItem [id]="'static-'+i">
                        <h2 ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                          <button ngbAccordionButton>{{faq.title}}</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>
                              <div class="accordion-body ff-secondary">
                                {{faq.description}}
                              </div>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                      </ng-container>
                    </ng-container>
</div>
              </div>
              <!--end accordion-->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end faqs -->
