<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <p class="mb-0 text-muted">
            {{this.appsConfiguration.copyrights.year}} © {{this.appsConfiguration.description.title || ''}}
            -
            {{'BASE.CREDITS.DEVELOPED_BY_' | baseTranslate }}
            {{this.appsConfiguration.context.developer.title || 'Undefined, Inc.'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>


