<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChanged($event)">
  <!-- Begin page -->
  <div class="layout-wrapper landing">
    <app-base-core-pages-landing-index-header [sectionId]="sectionId"></app-base-core-pages-landing-index-header>
    <!-- -->
    <app-base-core-pages-landing-index-demos></app-base-core-pages-landing-index-demos>
    <app-base-core-pages-landing-index-client-logo></app-base-core-pages-landing-index-client-logo>
    <app-base-core-pages-landing-index-capabilities></app-base-core-pages-landing-index-capabilities>
    <app-base-core-pages-landing-index-features></app-base-core-pages-landing-index-features>
    <app-base-core-pages-landing-index-cta></app-base-core-pages-landing-index-cta>
    <app-base-core-pages-landing-index-designed></app-base-core-pages-landing-index-designed>
    <app-base-core-pages-landing-index-plan></app-base-core-pages-landing-index-plan>
    <app-base-core-pages-landing-index-faqs></app-base-core-pages-landing-index-faqs>
    <app-base-core-pages-landing-index-review></app-base-core-pages-landing-index-review>
    <app-base-core-pages-landing-index-counter></app-base-core-pages-landing-index-counter>
    <app-base-core-pages-landing-index-work-process></app-base-core-pages-landing-index-work-process>
    <app-base-core-pages-landing-index-team></app-base-core-pages-landing-index-team>
    <app-base-core-pages-landing-index-contact></app-base-core-pages-landing-index-contact>
    <app-base-core-pages-landing-index-cta></app-base-core-pages-landing-index-cta>

    <!--start back-to-top-->
    <app-base-core-pages-landing-index-footer></app-base-core-pages-landing-index-footer>
    <!-- -->
    <app-base-core-pages-landing-index-scrollbacktotop></app-base-core-pages-landing-index-scrollbacktotop>
    <!--end back-to-top-->
  </div>

</div>
