<ul>

  <li><a routerLink="{{system.navigation.pages.public.information.privacy}}" class="btn btn-primary">Privacy</a></li>
  <li><a routerLink="{{system.navigation.pages.public.information.contact}}" class="btn btn-primary">Contact</a></li>
  <li><a routerLink="{{system.navigation.pages.public.information.corrections}}" class="btn btn-primary">Corrections</a></li>
  <li><a routerLink="{{system.navigation.pages.public.information.support}}" class="btn btn-primary">Support</a></li>
  <li><a routerLink="{{system.navigation.pages.public.information.terms}}" class="btn btn-primary">Terms</a></li>

</ul>
