

<ng-container *ngIf="stats$| async as stats">
  <div class="row">
    <div class="col-xl-12">
      <div class="card crm-widget">
        <div class="card-body p-0">
          <div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 g-0">
            @for(stat of stats;track $index){
            <div>
              <app-base-common-components-stats-one [stats]="stat"></app-base-common-components-stats-one>
            </div>
            }
          </div><!-- end row -->
        </div><!-- end card body -->
      </div><!-- end card -->
    </div><!-- end col -->
  </div><!-- end row -->
