<!-- start features -->

  <section class="section" [id]="sectionsInfo.features.id">

        <div class="container">

          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="text-center mb-5">
                <h1 class="mb-3 ff-secondary fw-semibold lh-base">
                  {{'CUSTOM.SITE.ANON.HOME.FEATURES.PLURAL'| baseTranslate}}
                </h1>
                <p class="text-muted">
                  {{'CUSTOM.SITE.ANON.HOME.FEATURES.DESCRIPTION'| baseTranslate}}
                </p>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->


          <div class="row align-items-center gy-4">
            <div class="col-lg-6 col-sm-7 mx-auto">
              <div>
                <img src="//assets/_BASE/static/services/imags/pages/home/features/img-1.png"
                     alt=""
                     class="img-fluid mx-auto">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-muted">
                <div class="avatar-sm icon-effect mb-4">
                  <div class="avatar-title bg-transparent rounded-circle text-success h1">
                    <i class="ri-collage-line fs-36"></i>
                  </div>
                </div>
                <h3 class="mb-3 fs-20">
                  {{'CUSTOM.SITE.ANON.HOME.FEATURES.MORE'| baseTranslate}}
                </h3>
                <p class="mb-4 ff-secondary fs-16">
                  {{'CUSTOM.SITE.ANON.HOME.FEATURES.MORE_INFO'| baseTranslate}}
                </p>

                <div class="row pt-3">
                  <div class="col-3">
                    <div class="text-center">
                      <h4>5</h4>
                      <p>TODO</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="text-center">
                      <h4>150+</h4>
                      <p>TODO</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="text-center">
                      <h4>7+</h4>
                      <p>TODO</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
  </section>
  <!-- end features -->
