 <!-- start contact -->
 <section class="section" [id]="sectionsInfo.contact.id">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                  <h3 class="mb-3 fw-semibold">
                    {{'BASE.CONTACTS.INSTRUCTIONS'| baseTranslate}}
                  </h3>
                  <p class="text-muted mb-4 ff-secondary">
                    {{'CUSTOM.SITE.HOME.CONTACT.DESCRIPTION'| baseTranslate}}
                  </p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row gy-4">
          <div class="col-lg-4">
            <div>
              <div class="mt-4">
                <h5 class="fs-13 text-muted text-uppercase">{{'BASE.SPONSORS.SINGULAR'| baseTranslate}}:</h5>
                <div class="ff-secondary fw-semibold">
                  {{system.dynamic.sponsor.channels?.postal?.street}},<br />
                  {{system.dynamic.sponsor.channels?.postal?.city}},<br />
                  {{system.dynamic.sponsor.channels?.postal?.region}}
                  {{system.dynamic.sponsor.channels?.postal?.code}}<br />
                  {{system.dynamic.sponsor.channels?.postal?.country}}
                </div>
              </div>
              <div class="mt-4">
                <h5 class="fs-13 text-muted text-uppercase">{{'BASE.DEVELOPERS.PLURAL'| baseTranslate}}:</h5>
                <div class="ff-secondary fw-semibold">
                  {{system.dynamic.developer.channels?.postal?.street}},<br />
                  {{system.dynamic.developer.channels?.postal?.city}}<br />
                  {{system.dynamic.sponsor.channels?.postal?.region}}
                  {{system.dynamic.developer.channels?.postal?.code}}<br />
                  {{system.dynamic.developer.channels?.postal?.country}}
                </div>
                <div class="mt-4">
                  <h5 class="fs-13 text-muted text-uppercase">{{'BASE.TIMES.HOURS_AVAILABLE'| baseTranslate}}:</h5>
                  <div class="ff-secondary fw-semibold">{{'BASE.TIMES.925'| baseTranslate}}</div>
                </div>
              </div>
              </div>

            </div>


          <!-- end col -->
          <div class="col-lg-8">
            <div>
              <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-4">
                      <label for="name" class="form-label fs-13">{{'BASE.NAMES.SINGULAR'| baseTranslate}}</label>
                      <input name="name" id="name" type="text"
                             class="form-control bg-light border-light" placeholder="{{'BASE.NAMES.PLACEHOLDER_REQUIRED'| baseTranslate}}">
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="mb-4">
                      <label for="email" class="form-label fs-13">{{'BASE.EMAILS.SINGULAR'| baseTranslate}}</label>
                      <input name="email" id="email" type="email"
                             class="form-control bg-light border-light" placeholder="{{'BASE.EMAILS.PLACEHOLDER_REQUIRED'| baseTranslate}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-4">
                      <label for="subject" class="form-label fs-13">{{'BASE.SUBJECTS.SINGULAR'| baseTranslate}}</label>
                      <input type="text" class="form-control bg-light border-light" id="subject"
                             name="subject" placeholder="{{'BASE.SUBJECTS.PLACEHOLDER_REQUIRED'| baseTranslate}}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      <label for="comments" class="form-label fs-13">Message</label>
                      <textarea name="comments" id="comments" rows="3"
                                class="form-control bg-light border-light"
                                placeholder="{{'BASE.MESSAGES.PLACEHOLDER_REQUIRED'| baseTranslate}}"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-end">
                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary"
                           value="{{'BASE.ACTIONS.SEND'| baseTranslate}}">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end contact -->
