<div class="col-xl-4">
  <div class="card">
    <div class="card-header">
      <span class="float-end text-secondary">{{summaryItem.type}}</span>
      <h6 class="card-title">{{summaryItem.title}}
        <span class="text-secondary">
        {{summaryItem.id}}
        </span>
      </h6>
      <p class="card-subtitle text-muted mb-0">{{summaryItem.primaryValue}}</p>
    </div>
    <div class="card-body">
      <p class="text-muted">
        {{summaryItem.description}}
      </p>
      <p class="text-muted mb-0">
        {{summaryItem.additionalInfo}}
      </p>
    </div>
    <div class="card-footer">
      <a href="javascript:void(0);" class="link-success float-end">
        {{summaryItem.primaryActionTitle}}
        <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i>
      </a>
      <p class="text-muted mb-0">{{summaryItem.primaryActionContextInfo}}</p>
    </div>
  </div>
</div>
