<!--
  Footer shows things that are not key business functional needs.
  Metadata about sponsor organisation, etc.
  Examples to consider what to link to are:
  - Timely:
    - Specials
    - News and Media
  - Places/Stores & Service:
    - Stores/Schools/Dance Halls/whatever
    - Online shopping (here)
  - Customer Service:
    - Orders
    - Deliveries
    - Account
    - FAQs
    - Chatbot
    - Contact Us
  - Wholesale supply:
    - ...feels like it should get lumped with Customers?
  - Suppliers?
  - About:
    - Us/Sponsor
    - Beyond: Partners, Community/Environment
    - Careers
  - Social
    - Facebook, Pinterest, linkedin, instagram, youtube...
TODO:
 -->
<!-- [id]="sectionsInfo.footer.id" -->
<footer class="custom-footer bg-dark py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div>
          <div>
            <img src="{{this.appsConfiguration.constants.resources.open.images.logos}}logo-light.png" alt="logo light" height="17">
          </div>
          <div class="mt-4 fs-13">
            <p>{{this.appsConfiguration.description.description}}</p>
            <p class="ff-secondary">{{this.appsConfiguration.description.purpose}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-7 ms-lg-auto">
        <div class="row">
          <div class="col-sm-4 mt-4">
            <h5 class="text-white mb-0">Company</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a href="/pages/profile">About Us</a></li>
                <li><a href="/pages/gallery">Gallery</a></li>
                <li><a href="/projects/overview">Projects</a></li>
                <li><a href="/pages/timeline">Timeline</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 mt-4">
            <h5 class="text-white mb-0">Apps Pages</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a href="/pages/pricing">{{this.appsConfiguration.navigation.schedules}}</a></li>
                <li><a href="/{{this.appsConfiguration.navigation.messages}}">Mailbox</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="{{this.appsConfiguration.navigation.tasks}}">Tasks</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 mt-4">
            <h5 class="text-white mb-0">Support</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a href="{{this.appsConfiguration.navigation.pages.open.information.service.faqs}}">FAQ</a></li>
                <li><a href="{{this.appsConfiguration.navigation.pages.open.information.service.contact}}">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row text-center text-sm-start align-items-center mt-5">
      <div class="col-sm-6">

        <div>
          <p class="copy-rights mb-0">
            {{this.appsConfiguration.copyrights.year}} © {{this.appsConfiguration.description.title || ''}} -
            {{'BASE.CREDITS.DEVELOPED_BY_' | baseTranslate }}
            {{this.appsConfiguration.context.developer.title || 'Undefined, Inc.'}}
          </p>
        </div>
      </div>
      <!-- SOCIAL: -->
      <div class="col-sm-6">
        <div class="text-sm-end mt-3 mt-sm-0">
          <app-base-core-common-components-socialmedialinks></app-base-core-common-components-socialmedialinks>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
