/* Account Not Found Component Styles */

.card-flush {
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
}

.h-40px {
  height: 40px;
}

ul {
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}
